// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	color: #d85637;
}

#help {
	color: #fff;
	text-decoration: none;
	float: right;
	margin-left: 1em;
}

.leaflet-popup-content .marker-title {
	font-weight: normal;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 0px 0px 11px 0px;
	text-align: left;
	font-size: 13px; 
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

	#built {
		padding-left: 15px;
	}

	a:link, a:active, a:visited, a:hover {
		color: #fff;
		text-decoration: none;
	}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	
	#footer {
		width: 90%;
		margin-bottom: 1em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
}

#header {
	position: absolute;
	width: 100%;
	top: 0px;
	padding: 10px 0px 10px 0px;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1000;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	
	a {
		float: right;
		margin-right: 10px;
	}
}
