<% @users.each do |user| %>
	<div class="person">
		<%= link_to user.products.first.name, user.products.first.link %>
	 	 by 
		<%= link_to user.name, "http://twitter.com/#{user.username}" %>
	</div>
<% end %>