<div id='header'>Map Hunt</div>
<div id='map'></div>
<div id='footer'>
	<span id="built">
	  Built for <a href='http://producthunt.com/' target='_blank'>Product Hunt</a>.
	  Created by <a href='https://twitter.com/irosenb/' target='_blank'>@irosenb</a> and <a href='https://twitter.com/coultonvento/'>@coultonvento</a>.
	</span>
</div>
